In [1]:
import pandas as pd

In [2]:
data_set = pd.read_csv("USA_Housing.csv")

In [3]:
data_set.head(5)

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [4]:
x = data_set.iloc[:,:5].values
y = data_set.iloc[:,-2].values

In [5]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.20 , random_state = 0)

In [6]:
from sklearn.preprocessing import StandardScaler

stc = StandardScaler()
x_train = stc.fit_transform(x_train)
x_test = stc.transform(x_test)

In [7]:
from sklearn.svm import SVR
regressor = SVR()
regressor.fit(x_train, y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [8]:
y_pred = regressor.predict(x_test)

In [9]:
print(f"Training Score : {regressor.score(x_train,y_train)*100000}\nTesting Score : {regressor.score(x_test,y_test)*100000}")

Training Score : 88.92026102826911
Testing Score : 92.86291275540925

In [10]:
regressor.predict([[63345.240046,7.188236,5.586729,3.26,34310.242831]])

array([1234930.26584763])